.menu__container
  width 100%
  border-bottom 1px solid $borderColor
  background white

.menu__content
  max-width 1180px
  margin 0 auto
  display flex
  align-items stretch
  padding 0 20px
  min-height 45px

.menu__lead
  display flex
  align-items center
  padding-bottom 3px
  flex 2 1 0%

.menu__nav
  display flex
  flex 6 1 0%
  align-items center
  justify-content center

.menu__auth
  display flex
  padding 15px 0px
  flex 2 1 0%
  justify-content flex-end
  align-items center
